<div class="content-form">
    <h3>Bir Yorum Yapın</h3>
    <form method="post" >
        <input name="BlogId" value="@ViewBag.deger"  hidden/>
        <input type="text" name="KullaniciAdi" placeholder="Kulanıcı Adı" required />
        <input type="text" name="Mail" placeholder="Email" required />
        <textarea name="Yorum" placeholder="Yorum"></textarea>

        <input type="submit" value="Gönder" />
    </form>
</div>
